<script type="text/javascript" th:inline="javascript">
    $(function () {
        var listProcedure = []
        var proQuantity = [];
        var current_date = window.localStorage.getItem("date")
        var expProcMoney = 0, expMedicineMoney = 0;

        getListProcedure()

        function getListProcedure() {
            console.log("getListProcedure")
            getRequest({
                url: "/procedures/list?limit=99999&offset=0",
                success: function (data) {
                    listProcedure = data['list'];
                    var html = '';
                    for (var i = 0; i < listProcedure.length; i++) {
                        var item = listProcedure[i];
                        html += '<tr>'
                            + '<td>' + item.name + '</td>'
                            + '<td>' + ' <div class="number-input" style="justify-content: center">' +
                            ' <button onclick="this.parentNode.querySelector(\'input[type=number]\').stepDown()"></button>' +
                            ' <input class="quantity" min="0" name="quantity" value="0" type="number">' +
                            ' <button onclick="this.parentNode.querySelector(\'input[type=number]\').stepUp()"' +
                            ' class="plus"></button>' +
                            '' +
                            ' </div>' + '</td>'
                            + '</tr>';
                    }
                    $('#tbody-pro').html(html);

                },
                error: function (e) {
                    console.log(e);
                }
            });
        }

        function saveMecValue() {
            expMedicineMoney = 0;
            var mecStr = [];
            var numThang, numLo, priceThang, priceLo;
            numThang = $('#numThang').val();
            numLo = $('#numLo').val();
            priceThang = $('#priceThang').val();
            priceLo = $('#priceLo').val();

            if (numThang > 0) {
                mecStr.push(numThang + ' Thang')
                expMedicineMoney += numThang * priceThang;
            }
            if (numLo > 0) {
                mecStr.push(numLo + ' Lọ')
                expMedicineMoney = + numLo * priceLo;
            }
            $('#medicine').val(mecStr.join(' + '));
            $('#kt_modal_1').modal('hide');
        }

        function saveProValue() {
            expProcMoney = 0;
            const listqua = document.getElementsByName('quantity');
            proQuantity = Array.from(listqua).map(item => item.valueAsNumber);
            var pros = [];
            proQuantity.forEach((value, index, array) => {
                if (value === 1) {
                    pros.push(listProcedure[index].code)
                } else if (value > 1) {
                    pros.push(value + '' + listProcedure[index].code)
                }
                expProcMoney += value * listProcedure[index].price;
            })
            $('#cusPros').val(pros.join(' + '));
            $('#kt_select2_modal').modal('hide');
        }

        function resetModalValue(){
            const listqua = document.getElementsByName('quantity');
            Array.from(listqua).forEach(item => item.value = 0);

            $('#numThang').val(0)
            $('#numLo').val(0)
            $('#priceThang').val(0)
            $('#priceLo').val(0)

        }

        document.getElementById("selectPro").addEventListener("click", saveProValue);
        document.getElementById("selectMec").addEventListener("click", saveMecValue);

        $('#btnAddTran').click(
            createTransaction
        )

        function createTransaction() {
            var customerName = $('#cusName').val().trim();
            var listProcedure = $('#cusPros').val();
            var diagnostic = $('#diagnostic').val().trim();
            var money = $('#moneyPro').val() || '0';
            var proceMoney = Number(money.replaceAll('.', ''));
            var medicine = $('#medicine').val().trim();
            money = $('#moneyMec').val() || '0';
            var medicineMoney = Number(money.replaceAll('.', ''));
            var pay = $('#pay').val().trim();
            var prepaid = pay.includes("/") ? pay : '';
            var debt = pay.includes("N") ? pay : '';
            var note = $('#note1').val().trim();
            var date = current_date;

            let body = {
                customerName,
                listProcedure,
                expProcMoney,
                diagnostic,
                proceMoney,
                medicine,
                expMedicineMoney,
                medicineMoney,
                prepaid,
                debt,
                note,
                date
            }
            //createTransaction
            postRequest({
                url: "/transaction",
                data: body,
                success: (data) => {
                    var checked = $('#cb_tran').is(":checked")
                    if (checked) {
                        $('#cusName').val('');
                        $('#cusPros').val('');
                        $('#diagnostic').val('');
                        $('#moneyPro').val('');
                        $('#medicine').val('');
                        $('#moneyMec').val('');
                        $('#pay').val('');
                        $('#note1').val('');
                        resetModalValue();
                    } else {
                        window.location.href = '/tran-a-day'
                    }

                },
                error: (e) => {
                    console.log(e);
                    var error = e['error'];
                    if (error != null) {
                        let content = JSON.parse(error);
                        $("#error-log").html(content['message'] + ".<br/>")
                    } else
                        $("#error-log").html("Lỗi hệ thống!<br/>")

                }
            })


        }
    });
</script>