<script type="text/javascript" th:inline="javascript">
    $(function () {
        setValueForPicker();

        function setValueForPicker() {
            var todayDate = moment().startOf('day');
            var YM = todayDate.format('YYYY-MM');

            $('#month-input').val(YM);
            $('#month-input').prop('max', YM)
        }

        $('#export').click(function () {
            exportExcel()
        });

        function exportExcel() {
            var month = $('#month-input').val().split('-');
            var date = '01/' + month[1] + '/' + month[0];
            window.location = "/dashboard/excel?date=" + date;
        }
    });
</script>
