<script type="text/javascript" th:inline="javascript">
    $(function () {

        var id = /*[[${id}]]*/ {};

        console.log(id);
        getCustomer();


        function getCustomer() {
            getRequest({
                url: '/customers/' + id,
                success: function (data) {
                    console.log(data);
                    $('#cusName').val(data.fullName || data.name);
                    $('#cusNick').val(data.name);
                    $('#cusPhone').val(data.phone);
                    $('#cusAddr').val(data.address);
                    $('#cusMoney').val(data.money);
                    $('#cusDiag').val(data.diag);
                    $('#cusBill').val(data.billing);
                    $('#cusNote').val(data.note);
                },
                error: function (e) {
                    console.log(e);


                }
            });
        }

        $('#update').click(function(){
            editCustomer();
        })

        function editCustomer() {
            var fullName = $('#cusName').val();
            var name = $('#cusNick').val();
            var phone = $('#cusPhone').val();
            var address = $('#cusAddr').val();
            var money = $('#cusMoney').val();
            money.replace('.', '');
            var diag = $('#cusDiag').val();
            var billing = $('#cusBill').val();
            var note = $('#cusNote').val();
            money = Number(money);

            let body = {
                id,
                fullName,
                name,
                billing,
                note,
                phone,
                address,
                diag,
                money
            }
            putRequest({
                url: '/customers/' + id,
                data: body,
                success: function (data) {
                    console.log(data);
                },
                error: function (e) {
                    console.log(e);
                }
            });


        }

    });
</script>