<script type="text/javascript" th:inline="javascript">
    $(function () {

        statisticCustomer();

        function statisticCustomer() {
            getRequest({
                url: "dashboard/statistic/customer",
                success: function (data) {
                    console.log(data);
                    var cusData = [data.prepaid, data.postpaid, data.turn]
                    createChart(cusData)
                    $("#cusTotal").text(data.total)
                },
                error: function (e) {
                }
            });
        }

        
        function createChart (cusData) {

            var config = {
                type: 'doughnut',
                data: {
                    datasets: [{
                        data: cusData
                        ,
                        backgroundColor: [
                            "#34bfa3",
                            "#fd3995",
                            "#5d78ff"
                        ]
                    }],
                    labels: [
                        'Còn dư tiền',
                        'Nợ',
                        'Thanh toán xong'
                    ]
                },
                options: {
                    cutoutPercentage: 75,
                    responsive: true,
                    maintainAspectRatio: false,
                    legend: {
                        display: false,
                        position: 'top',
                    },
                    title: {
                        display: false,
                        text: 'Technology'
                    },
                    animation: {
                        animateScale: true,
                        animateRotate: true
                    },
                    tooltips: {
                        enabled: true,
                        intersect: false,
                        mode: 'nearest',
                        bodySpacing: 5,
                        yPadding: 10,
                        xPadding: 10,
                        caretPadding: 0,
                        displayColors: false,
                        backgroundColor: "#5d78ff",
                        titleFontColor: '#ffffff',
                        cornerRadius: 4,
                        footerSpacing: 0,
                        titleSpacing: 0
                    }
                }
            };

            var ctx = KTUtil.getByID('chart_customer').getContext('2d');
            var myDoughnut = new Chart(ctx, config);
        }
    });
</script>

