<script type="text/javascript" th:inline="javascript">
    $(function () {
        const pagination = new Pagination();
        var current_date = window.localStorage.getItem("date")
        var list_tran = [];
        var list_spend = [];
        var tranId = undefined;
        var spendId = undefined;

        $("#head-title").html("Bảng thu chi trong ngày " + current_date)
        loadFinance();
        getListProcedure();
        loadSpendList();

        initTransactionsList();

        function getListProcedure() {
            console.log("getListProcedure")
            getRequest({
                url: "/procedure/list?limit=99999&offset=0",
                success: function (data) {
                    var listProcedure = data['list'];
                    var html = '';
                    for (idx in listProcedure) {
                        html += '<option value="' + listProcedure[idx].code + '">' + listProcedure[idx].name + '</option > '
                    }
                    $('#kt_select2_3_modal').html(html);

                },
                error: function (e) {
                    console.log(e);
                }
            });
        }


        function initTransactionsList() {
            pagination.reset();
            loadTransactionsList();
        }

        function loadTransactionsList() {
            var offset = pagination.offset() || 0;
            var limit = pagination.limit() || 5;
            getRequest({
                url: "/transaction/getByDate?limit=" + limit + "&offset=" + offset + "&date=" + current_date,
                success: function (data) {
                    onLoadedTransactionsList(data);
                },
                error: function (e) {
                }
            });
        }

        function onLoadedTransactionsList(data) {
            var paginData = data['pagination'] || {};
            pagination.render('list-pagination', loadTransactionsList, {
                count: data['count'],
                limit: paginData['limit'],
                total: paginData['total'],
                offset: paginData['offset']
            });
            list_tran = data['list'] || [];
            var html = '';

            for (var i = 1; i <= list_tran.length; i++) {
                var item = list_tran[i - 1];
                let proceMoney = item.proceMoney.toLocaleString().replaceAll(',', '.');
                let mecMoney = item.medicineMoney.toLocaleString().replaceAll(',', '.');
                var countNumber = Number.parseInt(paginData['offset'] * paginData['limit']) + i;
                html += '<tr>'
                    + '<td class="text-left">' + countNumber + '</td>'
                    + '<td>' + item.customerName + '</td>'
                    + '<td>' + item.diagnostic + '</td>'
                    + '<td>' + item.listProcedure + '</td>'
                    + '<td>' + item.medicine + '</td>'
                    + '<td>' + proceMoney + '</td>'
                    + '<td>' + mecMoney + '</td>'
                    + '<td>' + item.prepaid + '</td>'
                    + '<td>' + item.debt + '</td>'
                    + '<td>' + item.note + '</td>'
                    + '<td>' + '<div style="text-align: center; vertical-align: middle;">' +
                    '<button type="button" data-toggle="modal" class="btn btn-circle btn-icon edit-tran"' +
                    ' href="#kt_select2_modal" data-index="' + (i - 1) + '"><i class="flaticon-edit"></i></button>' +
                    '<button type="button" class="btn btn-circle btn-icon delete-tran" data-index="' + (i - 1) + '" ' +
                    '  ><i class="flaticon-delete"></i></button></div>' + '</td>'
                    + '</tr>';
            }
            $('#tbody-list').html(html);
        }

        function loadSpendList() {
            var offset = 0;
            var limit = 99999;
            getRequest({
                url: "/spend/getByDate?limit=" + limit + "&offset=" + offset + "&date=" + current_date,
                success: function (data) {
                    // console.log(data);
                    onLoadedSpendList(data);
                },
                error: function (e) {
                }
            });
        }

        function onLoadedSpendList(data) {
            list_spend = data['list'] || [];
            var html = '';
            for (var i = 1; i <= list_spend.length; i++) {
                var item = list_spend[i - 1];
                var mon = item.money.toLocaleString().replaceAll(',', '.');
                var countNumber = /*Number.parseInt(paginData['offset'] * paginData['limit'])*/ +i;
                html += '<tr>'
                    + '<td class="text-left">' + countNumber + '</td>'
                    + '<td>' + item.name + '</td>'
                    + '<td>' + item.detail + '</td>'
                    + '<td>' + mon + '</td>'
                    + '<td>' + item.note + '</td>'
                    + '<td>' + '<div style="text-align: center; vertical-align: middle;">' +
                    '<button type="button" data-toggle="modal" class="btn btn-circle btn-icon edit-spend" style="margin-right: 0.5rem;"' +
                    ' href="#kt_select2_modal" data-index="' + (i - 1) + '"><i class="flaticon-edit"></i></button>' +
                    '<button type="button" class="btn btn-circle btn-icon delete-spend" data-index="' + (i - 1) + '" style="margin-left: 0.5rem"' +
                    '  ><i class="flaticon-delete"></i></button></div>' + '</td>'
                    + '</tr>';
            }
            $('#tbody-spend').html(html);
        }

        function loadFinance() {
            getRequest({
                url: "/dashboard/finance/date?date=" + current_date,
                success: function (data) {
                    console.log(data);
                    // onLoadedSpendList(data);
                    var mEarn = data.income.toLocaleString().replaceAll(',', '.');
                    var mPay = data.spend.toLocaleString().replaceAll(',', '.');
                    var mProfit = data.profit.toLocaleString().replaceAll(',', '.');
                    $('#earnMoney').val(mEarn);
                    $('#payMoney').val(mPay);
                    $('#profit').val(mProfit);

                },
                error: function (e) {
                }
            });
        }

        // $('#btnAddTran').click(function () {
        //     window.location = "/add-tran"
        // });

        $(document).on("click", ".edit-tran", editTransaction);

        $(document).on("click", ".delete-tran", deleteTransaction);

        document.getElementById("saveSpend").addEventListener("click", createSpend);

        $(document).on("click", ".edit-spend", editSpend);

        $(document).on("click", ".delete-spend", deleteSpend);

        // function createTransaction() {
        //     var customerName = $('#cusName').val().trim();
        //     var listProcedure = $('#kt_select2_3_modal').val().join(" + ");
        //     var diagnostic = $('#diagnostic').val().trim();
        //     var proceMoney = $('#moneyPro').val() ? $('#moneyPro').val().trim() : 0;
        //     var medicine = $('#medicine').val().trim();
        //     var medicineMoney = $('#moneyMec').val() ? $('#moneyMec').val().trim() : 0;
        //     var pay = $('#pay').val().trim();
        //     var prepaid = pay.includes("/") ? pay : '';
        //     var debt = pay.includes("N") ? pay : '';
        //     var note = $('#note1').val().trim();
        //     var date = current_date;
        //
        //     let body = {
        //         customerName,
        //         listProcedure,
        //         diagnostic,
        //         proceMoney,
        //         medicine,
        //         medicineMoney,
        //         prepaid,
        //         debt,
        //         note,
        //         date
        //     }
        //     // console.log(tranId);
        //     if (!tranId) {
        //         //createTransaction
        //         postRequest({
        //             url: "/transaction",
        //             data: body,
        //             success: (data) => {
        //                 // console.log(data);
        //                 // $("#error-log").html("Thêm mới thành công!<br/>")
        //                 $('#cusName').val('');
        //                 $('#kt_select2_3_modal').val([]).trigger('change');
        //                 $('#diagnostic').val('');
        //                 $('#moneyPro').val('');
        //                 $('#medicine').val('');
        //                 $('#moneyMec').val('');
        //                 $('#pay').val('');
        //
        //                 $('#note1').val('');
        //             },
        //             error: (e) => {
        //                 console.log(e);
        //                 var error = e['error'];
        //                 if (error != null) {
        //                     let content = JSON.parse(error);
        //                     $("#error-log").html(content['message'] + ".<br/>")
        //                 } else
        //                     $("#error-log").html("Lỗi hệ thống!<br/>")
        //
        //             }
        //         })
        //     } else {
        //         //edit transaction
        //         body.id = tranId;
        //         putRequest({
        //             url: '/transaction/' + tranId,
        //             data: body,
        //             success: function (data) {
        //                 window.location = "/tran-a-day";
        //                 $('#kt_select2_modal').modal('hide');
        //             },
        //             error: function (e) {
        //                 console.log(e);
        //                 var error = e['error'];
        //                 if (error != null) {
        //                     let content = JSON.parse(error);
        //                     $("#error-log").html(content['message'] + ".<br/>")
        //                 } else
        //                     $("#error-log").html("Lỗi hệ thống!<br/>")
        //
        //             }
        //         });
        //     }
        //
        // }

        function createSpend() {
            var name = $('#spend_name').val().trim();
            var money = $('#spend_money').val().trim();
            var detail = $('#spend_detail').val().trim();
            var note = $('#spend_note').val().trim();
            var date = current_date;

            let body = {
                name,
                money,
                detail,
                note,
                date
            }
            console.log(spendId);
            if (!spendId) {
                //createSpend
                postRequest({
                    url: "/spend",
                    data: body,
                    success: (data) => {
                        // console.log(data);
                        window.location = "/tran-a-day";
                    },
                    error: (e) => {
                        console.log(e);
                        var error = e['error'];
                        if (error != null) {
                            let content = JSON.parse(error);
                            $("#error-log").html(content['message'] + ".<br/>")
                        } else
                            $("#error-log").html("Lỗi hệ thống!<br/>")

                    }
                })
            } else {
                //edit spend
                body.id = spendId;
                putRequest({
                    url: '/spend/' + spendId,
                    data: body,
                    success: function (data) {
                        window.location = "/tran-a-day";
                        $('#kt_modal_3').modal('hide');
                    },
                    error: function (e) {
                        console.log(e);
                        var error = e['error'];
                        if (error != null) {
                            let content = JSON.parse(error);
                            $("#error-log").html(content['message'] + ".<br/>")
                        } else
                            $("#error-log").html("Lỗi hệ thống!<br/>")

                    }
                });
            }

        }

        function editTransaction() {
            var index = $(this).data('index');
            var tran = list_tran[index];
            console.log('editTransaction', tran)
            tranId = tran.id;
            $('#cusName').val(tran.customerName)
            $("#cusName").prop('disabled', true);
            $('#kt_select2_3_modal').val(tran.listProcedure.split(' + '));
            $('#diagnostic').val(tran.diagnostic);
            $('#moneyPro').val(tran.proceMoney || 0);
            $('#medicine').val(tran.medicine);
            $('#moneyMec').val(tran.medicineMoney || 0);
            $('#pay').val(tran.prepaid || tran.debt);

            $('#note1').val(tran.note);
        }

        function editSpend() {
            var index = $(this).data('index');
            var spend = list_spend[index];
            console.log('editSpend', spend)
            spendId = spend.id;
            $('#spend_name').val(spend.name);
            $('#spend_money').val(spend.money);
            $('#spend_detail').val(spend.detail);
            $('#spend_note').val(spend.note || '');
        }

        function deleteTransaction() {
            var index = $(this).data('index');
            var tran = list_tran[index];
            console.log('deleteTransaction', tran)

            Swal.fire({
                title: 'Xóa thông tin này đi nhé',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Xóa đi',
                cancelButtonText: 'Thôi không xóa nữa',
            }).then((result) => {
                if (result.value) {
                    console.log("deleting...");
                    deleteRequest({
                        url: '/transaction/' + tran.id,
                        success: function (data) {
                            window.location = "/tran-a-day";
                        },
                        error: function (e) {
                            console.log(e);
                            var error = e['error'];
                            if (error != null) {
                                let content = JSON.parse(error);
                                $("#error-log").html(content['message'] + ".<br/>")
                            } else
                                $("#error-log").html("Lỗi hệ thống!<br/>")

                        }
                    });
                }
            });
        }

        function deleteSpend() {
            var index = $(this).data('index');
            var spend = list_spend[index];
            console.log('deleteSpend', spend)

            Swal.fire({
                title: 'Xóa thông tin này đi nhé',
                icon: 'question',
                showCancelButton: true,
                confirmButtonText: 'Xóa đi',
                cancelButtonText: 'Thôi không xóa nữa',
            }).then((result) => {
                if (result.value) {
                    deleteRequest({
                        url: '/spend/' + spend.id,
                        success: function (data) {
                            window.location = "/tran-a-day";
                        },
                        error: function (e) {
                            console.log(e);
                            var error = e['error'];
                            if (error != null) {
                                let content = JSON.parse(error);
                                $("#error-log").html(content['message'] + ".<br/>")
                            } else
                                $("#error-log").html("Lỗi hệ thống!<br/>")

                        }
                    });
                }
            });
        }
    });
</script>
