<script type="text/javascript" th:inline="javascript">
    $(function () {
        const pagination = new Pagination();
        var date = window.localStorage.getItem("date")
        $("#head-title").html("Bảng thu chi trong ngày " + date)

        getListProcedure();
        getListCustomer();

        function getListCustomer() {
            console.log("getListCustomer")
            getRequest({
                url: "/customer/list?limit=99999&offset=0",
                success: function (data) {
                    var listCustomer = data['list'];

                    console.log(listCustomer);
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }

        function getListProcedure() {
            console.log("getListProcedure")
            getRequest({
                url: "/procedure/list?limit=99999&offset=0",
                success: function (data) {
                    var listProcedure = data['list'];
                    var html = '';
                    for (idx in listProcedure) {
                        html += '<option value="' + listProcedure[idx].code + '">' + listProcedure[idx].name + '</option > '
                    }
                    $('#kt_select2_3_modal').html(html);

                },
                error: function (e) {
                    console.log(e);
                }
            });
        }

        initTransactionsList();

        function initTransactionsList() {
            pagination.reset();
            loadTransactionsList();
        }

        function loadTransactionsList() {
            var offset = pagination.offset() || 0;
            var limit = pagination.limit() || 5;
            getRequest({
                url: "/transaction/getByDate?limit=" + limit + "&offset=" + offset + "&date=" + date,
                success: function (data) {
                    onLoadedTransactionsList(data);
                    // console.log(data);
                },
                error: function (e) {
                }
            });
        }

        function onLoadedTransactionsList(data) {
            var paginData = data['pagination'] || {};
            console.log(paginData);
            pagination.render('list-pagination', loadTransactionsList, {
                count: data['count'],
                limit: paginData['limit'],
                total: paginData['total'],
                offset: paginData['offset']
            });
            var list = data['list'] || [];
            var html = '';

            for (var i = 1; i <= list.length; i++) {
                var item = list[i - 1];
                var countNumber = Number.parseInt(paginData['offset'] * paginData['limit']) + i;
                html += '<tr>'
                    + '<td class="text-left">' + countNumber + '</td>'
                    + '<td>' + 'aaa' + '</td>'
                    + '<td>' + 'aaa' + '</td>'
                    + '<td>' + 'aaa' + '</td>'
                    + '<td>' + 'aaa' + '</td>'
                    + '<td>' + 'aaa' + '</td>'
                    + '<td>' + 'aaa' + '</td>'
                    + '<td>' + 'aaa' + '</td>'
                    + '<td>' + 'aaa' + '</td>'
                    + '<td>' + 'aaa' + '</td>'
                    + '<td>' + 'aaa' + '</td>'
                    + '</tr>';
            }
            $('#tbody-list').html(html);
        }

        function createTransaction() {
            var cusName =('#name').val();
            var proce;
            var diagnostic;
            var diagMoney;
            var medicine;
            var medicineMoney;
            var prepaid;
            var debt;
            var note;
            // var date = date;
        }
    });
</script>