<script type="text/javascript" th:inline="javascript">
    $(function () {
        const pagination = new Pagination();
        var date = window.localStorage.getItem("date")
        $("#head-title").html("Bảng thu chi trong ngày " + date)
        initTransactionsList();

        function initTransactionsList() {
            console.log("initTransactionsList")
            pagination.reset();
            loadTransactionsList();
        }

        function loadTransactionsList() {
            var projectId = localStorage.getItem('project_id');
            var offset = pagination.offset() || 0;
            var limit = pagination.limit() || 20;
            getRequest({
                url: "/statistics/" + projectId + "/transactions_paging?" + "&limit=" + limit + "&offset=" + offset,
                success: function (data) {
                    onLoadedTransactionsList(data);
                },
                error: function (e) {
                }
            });
        }

        function onLoadedTransactionsList(data) {
            var paginData = data['pagination'] || {};
            pagination.render('list-pagination', loadTransactionsList, {
                count: data['count'],
                limit: paginData['limit'],
                total: paginData['total'],
                offset: paginData['offset']
            });
            var list = data['list'] || [];
            var html = '';
            for (var i = 1; i <= list.length; i++) {
                var item = list[i - 1];
                var time = new Date(Date.parse(item['createdAt']));
                var convertedDateTime = formatDateTime(time);
                var countNumber = Number.parseInt(paginData['offset']) + i;
                html += '<tr>'
                    + '<td class="text-left">' + countNumber + '</td>'
                    + '<td>' + encodeHtmlEntity(item['action']) + '</td>'
                    + '<td>' + convertedDateTime + '</td>'
                    + '<td>' + encodeHtmlEntity(item['method']) + '</td>'
                    + '<td>' + encodeHtmlEntity(item['url']) + '</td>'
                    + '<td>' + encodeHtmlEntity(item['result']) + '</td>'
                    + '</tr>';
            }
            $('#tbody-list').html(html);
        }

    });
</script>
