<script type="text/javascript" th:inline="javascript">
    $(function () {
        const pagination = new Pagination();
        var list_cus = []
        var cusId = undefined;

        initCustomerList()

        function initCustomerList() {
            pagination.reset();
            getListCustomer();
        }

        function getListCustomer() {
            var offset = pagination.offset() || 0;
            var limit = pagination.limit() || 5;

            getRequest({
                url: "/customers/list?limit=" + limit + "&offset=" + offset,
                success: function (data) {
                    onLoadedCustomersList(data, getListCustomer)
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }

        function onLoadedCustomersList(data, func) {
            var paginData = data['pagination'] || {};
            pagination.render('list-pagination', func, {
                count: data['count'],
                limit: paginData['limit'],
                total: paginData['total'],
                offset: paginData['offset']
            });
            list_cus = data['list'] || [];
            var html = '';

            for (var i = 1; i <= list_cus.length; i++) {
                var item = list_cus[i - 1];
                var countNumber = Number.parseInt(paginData['offset'] * paginData['limit']) + i;
                var note = item.note || ""
                html += '<tr>'
                    + '<td class="text-left">' + countNumber + '</td>'
                    + '<td>' + item.name + '</td>'
                    + '<td>' + item.billing + '</td>'
                    + '<td>' + note + '</td>'
                    + '<td>' + '<div style="text-align: center; vertical-align: middle;">' +
                    '<button type="button" data-toggle="modal" class="btn btn-circle btn-icon edit-cus"' +
                    ' data-index="' + (i - 1) + '"><i class="flaticon-edit"></i></button>' +
                    '<button type="button" class="btn btn-circle btn-icon delete-cus" data-index="' + (i - 1) + '" ' +
                    '  ><i class="flaticon-delete"></i></button></div>'
                    + '</td>'
                    + '</tr>';
            }
            $('#tbody-list').html(html);
        }

        document.getElementById("searchCus").addEventListener("click", initSearchCustomer);

        $(document).on("click", ".edit-cus", editCustomer);

        function initSearchCustomer(){
            pagination.reset();
            searchCustomer();
        }

        function searchCustomer() {
            var name = $('#name').val();
            var type = $("#cb_payment").val();

            var offset = pagination.offset() || 0;
            var limit = pagination.limit() || 5;

            getRequest({
                url: "/customers/search?limit=" + limit + "&offset=" + offset + "&name=" + name + "&type=" + type,
                success: function (data) {
                    onLoadedCustomersList(data, searchCustomer)
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }

        function editCustomer() {
            var index = $(this).data('index');
            var customer = list_cus[index];
            console.log('editTransaction', customer)
            cusId = customer.id;
            window.location = "/customer/"+cusId
        }
    });
</script>