<script type="text/javascript" th:inline="javascript">
    $(function () {
        const pagination = new Pagination();
        var list_pro = []
        var proId = undefined;
        initProcedureList();

        function getListProcedure() {
            var offset = pagination.offset() || 0;
            var limit = pagination.limit() || 5;

            getRequest({
                url: "/procedures/list?limit" + limit + "&offset=" + offset,
                success: function (data) {
                    // var listProcedure = data['list'];
                    onLoadedProcedureList(data, getListProcedure)

                },
                error: function (e) {
                    console.log(e);
                }
            });
        }


        function initProcedureList() {
            pagination.reset();
            getListProcedure();
        }

        function onLoadedProcedureList(data, func) {
            var paginData = data['pagination'] || {};
            pagination.render('list-pagination', func, {
                count: data['count'],
                limit: paginData['limit'],
                total: paginData['total'],
                offset: paginData['offset']
            });
            list_pro = data['list'] || [];
            var html = '';

            for (var i = 1; i <= list_pro.length; i++) {
                var item = list_pro[i - 1];
                var price = item.price?item.price:0 
                var countNumber = Number.parseInt(paginData['offset'] * paginData['limit']) + i;
                html += '<tr>'
                    + '<td class="text-left">' + countNumber + '</td>'
                    + '<td>' + item.name + '</td>'
                    + '<td>' + item.code + '</td>'
                    + '<td>' + price + '</td>'
                    + '<td>' + '<div style="text-align: center; vertical-align: middle;">' +
                    '<button type="button" data-toggle="modal" class="btn btn-circle btn-icon edit-pro"' +
                    ' href="#kt_modal_3" data-index="' + (i - 1) + '"><i class="flaticon-edit"></i></div>'
                    + '</td>'
                    + '</tr>';
            }
            $('#tbody-list').html(html);
        }

        // document.getElementById("searchCus").addEventListener("click", initSearchCustomer);

        document.getElementById("savePro").addEventListener("click", createProcedure);

        $(document).on("click", ".edit-pro", editProcedure);

        function createProcedure() {
            var name = $('#proName').val().trim();
            var code = $('#proCode').val().trim();
            var price = $('#proMoney').val() || 0;

            let body = {
                name,
                code,
                price
            }
            if (!proId) {
                //createProcedure
                postRequest({
                    url: "/procedures",
                    data: body,
                    success: (data) => {
                        // console.log(data);
                        window.location = "/procedure";
                    },
                    error: (e) => {
                        console.log(e);
                        var error = e['error'];
                        if (error != null) {
                            let content = JSON.parse(error);
                            $("#error-log").html(content['message'] + ".<br/>")
                        } else
                            $("#error-log").html("Lỗi hệ thống!<br/>")

                    }
                })
            } else {
                //edit customer
                body.id = proId;
                putRequest({
                    url: '/procedures/' + proId,
                    data: body,
                    success: function (data) {
                        window.location = "/procedure";
                        $('#kt_modal_3').modal('hide');
                    },
                    error: function (e) {
                        console.log(e);
                        $('#kt_modal_3').modal('hide');
                        var error = e['error'];
                        if (error != null) {
                            let content = JSON.parse(error);
                            $("#error-log").html(content['message'] + ".<br/>")
                        } else
                            $("#error-log").html("Lỗi hệ thống!<br/>")

                    }
                });
            }

        }

        function initSearchCustomer(){
            pagination.reset();
            searchCustomer();
        }

        function searchCustomer() {
            var name = $('#name').val();
            var type = $("#cb_payment").val();

            var offset = pagination.offset() || 0;
            var limit = pagination.limit() || 5;

            getRequest({
                url: "/customers/search?limit=" + limit + "&offset=" + offset + "&name=" + name + "&type=" + type,
                success: function (data) {
                    onLoadedCustomersList(data, searchCustomer)
                },
                error: function (e) {
                    console.log(e);
                }
            });
        }

        function editProcedure() {
            var index = $(this).data('index');
            var pro = list_pro[index];
            console.log('editTransaction', pro)
            proId = pro.id;
            $('#proName').val(pro.name)
            $('#proName').prop('readonly', true)
            $('#proCode').val(pro.code);
            $('#proMoney').val(pro.price) || 0;
            var his = '';
            pro.histories.forEach(element => {
                var obj = JSON.parse(element);
                his+='Ngày: ' + obj.date+" giá: "+obj.price+"\n";
            });
            $('#proHistory').val(his);

        }
    });
</script>
